* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'roboto';
    font-weight: 500;
}

body {
    background-color: #F94671;
}

a {
    color: white;
}

b {
    font-weight: 900;
}

.page {
    width: 100%;
    color: white;
}

.section {
    max-width: 640px;
    margin: 0 auto;
}

.title {
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
}