* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'roboto';
    font-weight: 500;
    font-style: italic;
}

body {
    background-color: #F94671;
}

a {
    color: white;
}

b {
    font-weight: 900;
}

.page {
    width: 100%;
    color: white;
}

.section {
    max-width: 640px;
    margin: 0 auto;
}

.title {
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
}

.button {
    position: relative;
    width: 640px;
    height: 120px;
    color: #F94671;
    background-color: white;
    margin: 60px 0;
    border-radius: 20px;
}

.button-content {
    margin: auto 40px;
    font-size: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    padding: 60px 0;
    text-align: center;
    color: #fff;
}